$light-grey: #f2f2f2;
$primary: #0eb533;
$secondary: #ababab;
$font-primary: #424242;
$primary-button: #1497c7;
$primary-button-hover: #147699;
$secondary-button: #e3e3e3;
$secondary-button-hover: #cccccc;
$err-msg: #c92812;